.footer {
    @media (min-width: $breakpoint-tablet) {
        margin-bottom: $spacer;
    }

    &__section {
        width: 100%;
    }

    &__section-title {
        font-size: $font-size-xxl;
        line-height: $line-height-l;
        margin-bottom: $spacer-xs;
    }

    &__section-description {
        font-size: $font-size-m;
        line-height: $line-height-m;
        + .share {
            margin-top: $spacer;
        }
    }
}
