$gratitude---width: $spacer-base * 34;

$gratitude__picture---max-height: $spacer-base * 20;

.gratitude {
    &__content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__picture {
        flex-shrink: 0;
        margin: 0;
        max-width: 100%;
        text-align: center;

        > div {
            overflow: hidden;
        }

        img {
            height: $gratitude__picture---max-height;
        }
    }

    &__title {
        color: $gray--ultradark;
        font-weight: bold;
        text-align: center;
    }

    &__message {
        flex-grow: 1;
        padding: 0 $spacer;

        p {
            word-break: break-all;
        }
    }

    &--has-picture {
        .gratitude__title {
            text-align: left;
        }
    }
}
