.header {
    background-color: white;
    padding: $spacer 0 $spacer-s 0;

    &__rrss {
        margin-bottom: 40px;

        @media (min-width: $breakpoint-tablet) {
            margin-bottom: initial;
        }
    }

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $primary;
        margin: 0;
        font-family: $font-family--secondary;
        font-size: $font-size-xxl;
        line-height: $line-height-l;
        font-weight: 500;

        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__menu {
        list-style: none;
        margin: 0;
        margin-left: auto;
        padding: 0;
    }

    &__actions {
        margin-bottom: -$spacer-s;
        margin-left: -$spacer;
        margin-right: -$spacer;
        width: 100vw;

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-bottom: 0;
            margin-left: auto;
            margin-right: 0;
            width: auto;
        }

        > * {
            + > * {
                margin-left: $spacer;
            }
        }
    }

    .admin-button {
        margin-left: auto;

        @media (min-width: $breakpoint-tablet) {
            margin-left: $spacer;
        }
    }

    .container {
        @media (min-width: $breakpoint-tablet) {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }
    }

    .twitter-link {
        position: absolute;
        top: 80px;
        left: $spacer;
        display: flex;
        align-items: center;
        font-family: $font-family--tertiary;
        text-decoration: none;

        @media (min-width: $breakpoint-tablet) {
            position: initial;
        }

        svg {
            margin-left: $spacer-xs;
        }
    }
}
