.header {
    background-color: white;
    padding: $spacer 0;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $primary;
        margin: 0;
        font-family: $font-family--secondary;
        font-size: $font-size-xxl;
        line-height: $line-height-l;
        font-weight: 500;
        a {
            color: inherit;
            text-decoration: none;
        }
    }

    &__menu {
        list-style: none;
        margin: 0;
        margin-left: auto;
        padding: 0;
    }

    .container {
        display: flex;
    }
}
