.inquiry {
    &__email {
        cursor: pointer;
        padding-left: $spacer-xs;
        width: 100%;
    }

    &__speciality-field {
        display: flex;
        align-items: center;

        .MuiFormControl-root {
            margin-left: $spacer-xs;
        }

        + .MuiTypography-root {
            margin-top: $spacer-s;
        }
    }

    & + .inquiry {
        margin-top: $spacer;
    }

    .MuiTypography-root.inquiry__email {
        margin-bottom: $spacer;
    }

    .MuiCardActions-root {
        flex-wrap: wrap;
        .button-group + .button-group {
            margin-left: auto;
        }
    }
}
