.section-wrapper {
  display: flex;

  @media (min-width: $breakpoint-tablet) {
      border-radius: $border-radius-m;
  }

  &__content {
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $breakpoint-tablet) {
        flex: 0 0  percentage(2/3);
    }
  }

  &__primary {
    padding: $spacer;
    margin-right: -$spacer;
    margin-left: -$spacer;
    background-color: $primary;
    color: white;
  }

  &__white {
    padding: $spacer;
    margin-right: -$spacer;
    margin-left: -$spacer;
    background-color: white;
  }

  + .section-wrapper {
    margin-top: $spacer;
  }
}