.skip-nav {
    position: absolute;
    top: 0;
    left: 0;
    padding: $spacer-s;

    &__list {
        list-style: none;
    }

    &__link {
        border: 0;
        clip: rect(0,0,0,0);
        display: block;
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        transition: padding 0s;
        width: 1px;

        &:active,
        &:focus {
            height: auto;
            overflow: initial;
            position: relative;
            width: auto;
            padding: $spacer-s;
            background-color: white;
            z-index: 9999;
        }
    }
}