.home {
    padding-top: $spacer-m;

    &__header-title {
        color: $gray--ultradark;
        font-size: $font-size-xxl;
        line-height: $line-height-l;
        margin-bottom: $spacer-xs;
    }

    &__section {
        width: 100%;
        &.home__section--cta {
            + .home__section--cta {
                margin-top: 2 * $spacer;
                @media (min-width: $breakpoint-tablet) {
                    margin-top: $spacer;
                }
            }
            @media (min-width: $breakpoint-tablet) {
                width: 50%;
            }
        }

        + .home__section {
            margin-top: $spacer;
        }

        .MuiButtonBase-root + .MuiButtonBase-root {
            margin-top: $spacer;
            margin-right: $spacer-m;

            @media (min-width: 420px) {
                margin-left: $spacer;
                margin-right: 0;
                margin-top: 0;
            }
        }
    }

    &__section-title {
        color: $gray--ultradark;
        font-size: $font-size-xxl;
        line-height: $line-height-l;
    }

    &__drawing {
        display: none;
        img {
            max-width: 90%;
            height: auto;
        }
        @media (min-width: $breakpoint-tablet) {
            display: block;
        }
    }

    &__cta {
        padding: $spacer;
        margin-top: $spacer;
        margin-right: -$spacer;
        margin-left: -$spacer;
        background-color: white;
    
        @media (min-width: $breakpoint-desktop) {
            border-radius: $border-radius-m;
        }

        .section-wrapper {
            flex-direction: column-reverse;

            @media (min-width: $breakpoint-tablet) {
                flex-direction: row;
            }

            + .section-wrapper {
                margin-top: $spacer-l;
            }
        }

        + .section-wrapper {
            margin-top: $spacer;
        }

        .counter {
            margin-bottom: $spacer;
    
            @media (min-width: $breakpoint-tablet) {
                padding-right: $spacer-l;
                margin-bottom: initial;
                justify-content: flex-end;
            }
        }
    }
}
