.home {
    &__section {
        width: 100%;
        &.home__section--cta {
            + .home__section--cta {
                margin-top: 2 * $spacer;
                @media (min-width: $breakpoint-tablet) {
                    margin-top: $spacer;
                }
            }
            @media (min-width: $breakpoint-tablet) {
                width: 50%;
            }
        }

        + .home__section {
            margin-top: $spacer;
        }
    }

    &__section-title {
        color: black;
        font-size: $font-size-xxl;
        line-height: $line-height-l;
    }

    &__drawing {
        display: none;
        img {
            max-width: 100%;
            height: auto;
        }
        @media (min-width: $breakpoint-tablet) {
            display: block;
        }
    }
}
