.register-form {
    &__header {
        &--title {
            font-family: $font-family--secondary;
            font-weight: 400;
            font-size: $font-size-l;
            line-height: $line-height-m;
            margin-bottom: $spacer-xs;
        }

        &--description {
            font-size: $font-size-s;
        }

        + &__form-control {
            margin-top: $spacer;
        }
    }

    &__form-control {
        + .register-form__header {
            margin-top: $spacer;
        }
    }

    &__title {
        color: $gray--ultradark;

        &.register-form__title--confirmation {
            color: #9BD870;
        }
    }

    &__section {
        width: 100%;

        .register-form__title--confirmation {
            font-family: $font-family--secondary;
            color: $gray--ultradark;
        }

        &--form {
            margin-top: $spacer-l;
            display: flex;
            flex-wrap: wrap;
            @media (min-width: $breakpoint-tablet) {
                flex: 0 0 percentage(2/3);
            }
        }

        + .register-form__section {
            margin-top: $spacer;
        }
    }

    &__section-title {
        color: $gray--ultradark;
    }

    &__list {
        padding-left: $spacer-s;
    }

    &__list-item {
        padding: $spacer-xs / 2;
    }

    .section {
        display: flex;
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        @media (min-width: $breakpoint-tablet) {
            flex: 0 0 1;
        }
    }
}
