.register-form {
    &__title {
        color: black;

        &.register-form__title--confirmation {
            color: #9BD870;
        }
    }

    &__section {
        + .register-form__section {
            margin-top: $spacer;
        }
    }

    &__section-title {
        color: black;
    }

    .MuiFormControl-root + .MuiFormControl-root {
        margin-top: $spacer-s;
    }
}
