#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 $spacer;

    @media (min-width: $breakpoint-desktop) {
        max-width: 995px;
        padding: 0;
    }
}

.main {
    flex: 1 0 auto;
    padding: $spacer-m 0;
}
